.grid-text-section-collection {
  grid-template-columns: repeat(12, 1fr);
  column-gap: 25px;
  row-gap: 20px;
  display: grid;
}

.hero-body-collection {
  grid-column: 1/13;
  grid-row: 2;
  color: #f1f0e7;
  justify-self: center;
}
.collectionSection-wrapper {
  position: relative;
  background-color: #1a1a1a;
  margin: 0 25px;
  overflow: hidden;
  border-radius: 10px;
  padding: 50px 25px;
}

.collectionSection-container {
  width: 100%;
}

.heading-wrapper-collection {
  grid-row: 1;
  grid-column: 1/13;
  justify-self: center;
  color: #f1f0e7;
}

.image-wrapper-collection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 25px;
  row-gap: 20px;
  grid-column: 1 / -1;
  grid-row: 3;
}

.image-grid-item-collection {
  grid-column: span 4;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  color: #f1f0e7;
}

.collectionSection-bg-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transform: skewX(-55deg) translateX(8rem);
  display: none;
  background: rgba(222, 222, 220, 0.8);
  z-index: -1;
}

@media (min-width: 1024px) {
  .collectionSection-bg-section {
    display: block;
  }

  .image-grid-item-collection {
    grid-column: span 4;
  }
}

@media (max-width: 740px) {
  .collectionSection-wrapper {
    padding: 50px 10px;
    position: relative;
    margin: 0 6px;
  }

  .image-grid-item-collection {
    grid-column: span 12;
  }

  .heading-wrapper-collection {
    grid-row: 1;
    grid-column: 1/13;
    margin: 0 auto;
  }

  .image-wrapper-collection {
    grid-row: 2;
    grid-column: 1/13;
    margin: 0 auto;
  }
}

@media (min-width: 1460px) {
  .image-grid-item-collection {
    grid-column: span 4;
  }
}
