.hero-title {
  color: #353229;
  /* background: linear-gradient(to top, #dfded6, #f1f0e7);
  -webkit-background-clip: text;
  background-clip: text; */
  font-weight: 500;
  grid-row: 2;
  text-wrap: wrap;
  grid-column: 2 / 7;
  font-size: 72px;
  line-height: 76px;
  text-align: flex-start;
}

.hero-section-wrapper {
  height: 100vh;
}

.hero-subtitle {
  font-weight: 400;
  color: #353229;
  font-family: var(--font-geist);
  grid-row: 1;
  grid-column: 2 / 7;
  justify-self: flex-start;
  font-size: 16px;
}

.hero-body {
  font-weight: 400;
  color: #353229;
  font-family: var(--font-geist-mono);
  grid-row: 3;
  grid-column: 2 / 7;
  font-size: 24px;
  justify-self: flex-start;
}

.hero-cta {
  grid-row: 4;
  grid-column: 2 / 7;
  justify-self: flex-start;
}

.hero-section-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

@media (max-width: 768px) {
  .hero-title {
   color: #353229;
    font-size: 35px;
    grid-column: 2/13;
  }

  .hero-subtitle {
    font-weight: 400;
   color: #353229;
    font-size: 16px;
    grid-column: 2/13;
  }

  .hero-body {
    font-size: 16px;
    grid-column: 2/13;
  }

  .hero-cta {
    grid-row: 4;
    grid-column: 2/12;
    justify-self: flex-start;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    color: #353229;
    font-size: 100px;
  }

  .hero-subtitle {
    font-weight: 400;
    color: #353229;
    font-size: 24px;
  }

  .hero-body {
    font-size: 32px;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}

@media (min-width: 1039px) and (max-width: 1536px) {
  .hero-title {
     color: #353229;
    font-size: 72px;
    grid-column: 2 / 7;
    line-height: 76px;
  }

  .hero-subtitle {
    font-weight: 400;
     color: #353229;
    font-size: 16px;
    grid-column: 2 / 7;
  }

  .hero-body {
    font-size: 24px;
    grid-column: 2 / 7;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}
